* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background-image: url(../img/newyear.webp);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 90%;
    max-width: 480px;
    color: #FFF;
    text-align: center;
    padding: 50px 35px;
    border: 1px solid rgba(255, 225, 225, 0.3);
    background: rgba(225, 225, 225, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
}

.from {
    text-align: left;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 10px;
    margin-left: 5px;
    text-transform: capitalize;
}

.to {
    font-size: 1rem;
    font-weight: 500;
    text-transform: capitalize;
}

#copyBtn {
    font-size: 1.5rem;
    cursor: pointer;
    color: #2f2f2f;
    background: rgba(225, 225, 225, 0.2);
    padding: 10px;
    border-radius: 50%;
    position: fixed;
    right: 20px;
}

#copyBtn:active, #copyBtn:hover {
    color: #FFF;
}

.btn-msg {
    overflow: hidden;
    position: fixed;
    right: 80px;
    bottom: 20px;
    white-space: nowrap;
}

.btn-share {
    background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
    border: 0;
    border-radius: 12px;
    color: #FFF;
    width: 100px;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
}

.scrolling-text {
    display: inline-block;
    animation: scrollText 8s linear infinite;
}

.btn-share:not([disabled]):focus {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.btn-share:not([disabled]):hover {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

@keyframes scrollText {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

form {
    background: rgba(255, 255, 255, 0.3);
    padding: 1rem;
    border-radius: 20px;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
    transition: all 0.2s ease-in-out;

    p {
        font-weight: 500;
        color: #fff;
        opacity: 0.8;
        font-size: 1.4rem;
        margin-top: 0;
        margin-bottom: 40px;

    }

    a {
        text-decoration: none;
        color: #ddd;
        font-size: 12px;

        &:hover {
            text-shadow: 2px 2px 6px #00000040;
        }

        &:active {
            text-shadow: none;
        }
    }

    input {
        background: transparent;
        text-transform: capitalize;
        width: 250px;
        padding: 1em;
        margin-bottom: 2em;
        border: none;
        border-left: 1px solid rgba(255, 255, 255, 0.3);
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 5000px;
        backdrop-filter: blur(5px);
        color: #2f2f2f;
        font-weight: 500;
        transition: all 0.2s ease-in-out;

        &:hover {
            background: rgba(255, 255, 255, 0.1);
        }

        &[type="email"],
        &[type="password"] {

            &:focus {
                background: rgba(255, 255, 255, 0.1);
            }
        }

        &[type="button"] {
            margin-top: 10px;
            width: 150px;
            font-size: 1rem;

            &:hover {
                cursor: pointer;
            }

            &:active {
                background: rgba(255, 255, 255, 0.2);
            }
        }
    }

    &:hover {
        margin: 4px;
    }
}

::placeholder {
    font-weight: 500;
    color: #2f2f2f;
}

@media only screen and (max-width: 600px) {
    .btn-msg {
        position: fixed;
        right: 20px;
        bottom: 20px;
    }

    #copyBtn {
        font-size: 1.5rem;
        cursor: pointer;
        color: #2f2f2f;
        background: rgba(225, 225, 225, 0.2);
        padding: 10px;
        border-radius: 50%;
        position: fixed;
        right: 20px;
    }

    #copyBtn:active, #copyBtn:hover {
        color: #FFF;
    }

}